@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root{
  width:100%;
  min-height:100vh;
}

body{
  background:#000;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
  width:8px;
  height:8px;
}

::-webkit-scrollbar-thumb{
  background:#22c55e;
  border-radius:20px;
}

::-webkit-scrollbar-track{
  background:#111;
}

.logo-font {
  font-family: "Poor Story", cursive;
}

.profile-image{
    margin-left:40px;
}

.profile-content{
    margin-left:34px;
    margin-top:6px;
}

.profile-content p:first-child{
    margin-bottom:4px;
}

.profile-content h2{
    margin-top:10px;
}

.profile-content .categories{
    margin-top:34px;
    display:flex;
    flex-wrap:wrap;
    gap:12px 10px;
}

textarea::-webkit-scrollbar{
    width:6px;
}

textarea::-webkit-scrollbar-track{
    background:transparent;
}

textarea::-webkit-scrollbar-thumb{
    background:#FFF2CC;
    border-radius:20px;
}

textarea{
    scrollbar-width:thin;
    scrollbar-color:#FFF2CC transparent;
}

.notes-card{
    padding-top:22px;
    padding-left:24px;
}

.notes-textarea{
    padding-left:24px;
    padding-bottom:20px;
    padding-right:24px;
}

.timer-circle{
    width:128px;
    height:128px;
    border-radius:50%;
    background:#191D3D;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0 8px 20px rgba(0,0,0,.25);
    margin-left:70px; 
}